@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Ubuntu:wght@500&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
  --background: #fff;
  --fb: #1778F2;
  --instagram: #e95950;
}

/* base styles & title */
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: 'Dancing Script', cursive;
  color: var(--secondary);
}

.App {
  width: 85vw;
  margin: 0 auto;
}

.title h1 {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 6.5rem;
  font-size: 1.8rem;
}

.title h2 {
  visibility: hidden;
  text-align: center;
}

/* header styles  */

.header {
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3125rem;
  margin-top: 2%;
  margin-bottom: 1%;
}

/* dark mode toggle styles */

.dark-mode {
  --background: #02060d;
  --secondary: #fff;
  color: var(--secondary);
}

/* dark mode toggle styles */

.checkbox {
  opacity: 0;
  position: absolute;
}

.toggle-label {
  background-color: #808080;
  border-radius: 3.125rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3125rem;
  position: relative;
  height: 1.3rem;
  width: 3.125rem;
}

.toggle-label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.3rem;
  left: 0.125rem;
  height: 1.25rem;
  width: 1.25rem;
  transform: translateX(0);
  transition: transform 0.3s linear;
}

.toggle-label .active, .ball .active {
  transform: translateX(2.2rem);
}

.fa-star-and-crescent {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

/* Sign in style */

.fa-sign-in-alt {
  cursor: pointer;
  font-size: 2rem;
}

/* social icons styles */ 

.social {
  width: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.fa-facebook-square {
  color: var(--secondary);
}

.fa-facebook-square:hover {
  color: var(--fb);
}

.fa-instagram {
  color: var(--secondary);
}

.fa-instagram:hover {
  color: var(--instagram);
}

/* upload and log in form styles */

.login-form {
  margin: 0 auto;
}

form {
  font-family: 'Ubuntu', sans-serif;
  margin: 1.875rem auto 0.625rem;  
  text-align: center;
}

.login {
  display: none;
  position: relative;
  height: 8vh;
  margin-top: 3%;
  margin-bottom: 5%;
}

.login-active {
  display: flex;
}

.input {
  position: absolute;
  width: 22%;
  height: 5%;
  border: 2px solid var(--secondary);
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  background: none;
}

.input-email {
  top: 0;
  left: 0;
}

.input-pass {
  top: 0;
  left: 40%;
}

.input:focus {
  border-color: var(--fb);
}

.form-label {
  position: absolute;
  display: block;
  padding: 0 0.5rem;
  transition: top 200ms ease-in, left 200ms ease-in, 
    font-size 200ms ease-in;
  /* background-color: var(--background); */
  cursor: text;
  pointer-events: none;
}

.label-email {
  left: 2%;
  top: 0.5rem;
}

.label-pass {
  left: 42%;
  top: 0.5rem;
}

.input-email:focus ~ .label-email,
.input-email:not(:placeholder-shown).input-email:not(:focus) ~ .label-email {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 1.5%;
}

.input-pass:focus ~ .label-pass,
.input-pass:not(:placeholder-shown).input-pass:not(:focus) ~ .label-pass {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 41.5%;
}

.dark-mode .input {
  color: var(--secondary);
}

.log-btn {
  position: absolute;
  top: 0.5rem;
  right: 5%;
  width: 15%;
  height: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--secondary);

}

.upload label input {
  height: 0;
  width: 0;
  opacity: 0;
}

.upload label {
  display: block;
  color: var(--fb);
  font-weight: bold;
  font-size: 3.5rem;
  cursor: pointer;
}

.upload label:hover {
  scale: 1.2;
}

.output {
  height: 3.75rem;
  font-size: 0.8rem;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 3%;
  color: var(--error);
}

/* progress bar styles */

.progress-bar {
  height: 0.3125rem;
  background: var(--primary);
  margin-top: 1.25rem;
  margin-bottom: 1.3rem;
}

/* image grid styles */

.img-grid {
  margin: 1.25rem auto;
  display: grid;
  gap: 1.3rem;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: auto;
  user-select: none;
}

.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  filter: grayscale(100%) opacity(.9);
}

.img-wrap:focus{
  filter: none;
}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 130%;
  position: absolute;
  top: 0;
  left: 0;
}

.load-div {
  grid-column: span 4;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.load-btn {
  width: 10vw;
  font-size: 1.1rem;
  border: none;
  font-family: 'Dancing Script', cursive;
  background: transparent;
  color: var(--secondary);
  cursor: pointer;

}

/* footer styles */

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.footer a {
  margin: 0.3rem;
  text-decoration: none;
  color: var(--secondary);
}

/* modal styles */

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* padding: 4% 0; */
  background: rgba(0, 0, 0, 0.5);
}

.backdrop img{
  width: auto;
  max-width: 90vw;
  height: auto;
  max-height: 90vh;
  margin: -1% auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 0.1875rem solid white;
}

.save {
  position: fixed;
  top: 3%;
  left: 3%;
  cursor: pointer;
}

.close {
  position: fixed;
  top: 3%;
  right: 3%;
  cursor: pointer;
}

.next, .prev {
  position: fixed;
  /* top: 50%; */
  display: flex;
  align-items: center;
  /* transform: translateY(-50%); */
  height: 85%;
  width: 25%;
  cursor: pointer;
  user-select: none;
}

.next {
  right: 3%;
  justify-content: flex-end;
}

.prev {
  left: 3%;
  justify-content: flex-start;
}

.close:hover, .save:hover, .next:hover, .prev:hover {
  color: #fff;
  scale: 1.1;
}

/* styles for mobile */

@media only screen and (max-width: 811px) {
  .img-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .img-wrap{
    filter: none;
  }

  .backdrop img{
    width: auto;
    max-width: 90vw;
    height: auto;
    max-height: 90vh;
    max-height: 90dvh;
  }

  .next, .prev {
    height: 80%;
    width: 35%;
  }
}

@media only screen and (max-width: 667px) {
  .App {
    width: 100vw;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .title {
    width: 85vw;
    margin: 0 auto;
  }

  .title h1 {
    font-size: 1.4rem;
  }

  .title h2 {
    visibility: visible;
    font-size: 1.4rem;
  }

  .header {
    width: 80vw;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 2%;
  }

  .fa-facebook-square {
    color: var(--fb);
  }
  
  .fa-instagram {
    color: var(--instagram);
  }

  .login-form {
    width: 85vw;
    margin: 0 auto;
  }

  .login {
    height: 5rem;
    margin-top: 5%;
  }

  .input-email {
    width: 85%;
    height: 1%;
    top: 0;
    left: 0;
  }
  
  .input-pass {
    width: 85%;
    height: 1%;
    top: 2.8rem;
    left: 0;
  }

  .label-email {
    font-size: 1rem;
    left: 5%;
    top: 0.5rem;
  }

  .label-pass {
    font-size: 1rem;
    left: 5%;
    top: 3.3rem;
  }

  .input-email:focus ~ .label-email,
  .input-email:not(:placeholder-shown).input-email:not(:focus) ~ .label-email {
    left: 3%;
  }

  .input-pass:focus ~ .label-pass,
  .input-pass:not(:placeholder-shown).input-pass:not(:focus) ~ .label-pass {
    top: 2.4rem;
    left: 3%;
  }

  .log-btn {
    top: 5.7rem;
    left: 25%;
    width: 50%;
    height: 1.5rem;  
  }

  .upload label {
    font-size: 1.5rem;
  }

  .error {
    font-size: 0.8rem;
  }

  .img-grid {  
    display: flex;
    flex-direction: column;
    margin: 0;  
    width: 100vw;    
    margin-inline: none;
  }
  
  .img-wrap {
    padding: 40% 0;
    width: 100vw;
    filter: none;
  }

  .img-wrap img {
    max-width: 80%;
  }
  
  .backdrop img{
    width: 99vw;
    height: auto;
    /* margin: 50% auto; */
  }

  .footer {
    width: 90vw;
    margin-top: 5%;
    font-size: 0.9rem;
  }
  
}
